* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    margin: 16px;
    padding: 8px;
}

h1 {
    background-color: rgb(0, 251, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    padding: 8px;
}


.recipe-link {
    background-color: rgb(255, 0, 234);
}

.blank-space {
    background-color: red;
    text-align: center;
}

.writing {
    text-align: center;
    font-weight: bold;
}
/* recipe-link overrides p because recipe-link is a class and p is a type

Universal tag * sets font for webpage but can be overridden by any other command
as it has the lowest level of specificity
*/

button {
background-color: red;
}

div {
    max-width: fit-content;
    margin-inline: auto;
}
/* margin-inline: auto centers the button by making the left and right margins equal in size.
max-width: fit-content is locking the width of the element to match the size of the content. */

img {
    margin-inline: auto;
    display: block;
}

/* img needs to be set to block in order to be centered */